/* Add CSS Styling */

.odd-num {
  background-color: rgb(255, 133, 150);
  font-family: Verdana, DejaVu Sans, sans-serif;
}

.big-odd {
  font-size: 24px;
}

#second {
  color: rgb(29, 29, 255);
  font-size: 36px;
}

#fourth {
  background-color: rgb(138, 255, 138);
  font-size: 24px;
  font-weight: 700;
}